@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: #003566;
    width: 100%;
    height: 100%;
    text-align: center;
   
}

.info{
    font-size: 6rem;
}

.signin{
    margin-top: 150px;
}

.signin-btn{
    width: 120px;
    height: 70px;
    font-size: 1rem;
    background-color: yellow;
    border-radius: 20px;
    border: none;
}

.info{
    font-family: 'Fredoka One', cursive;
    color:yellow ;
    opacity: 0.4;
}

.locker{
    color: rgb(180, 89, 89);
}

