@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
.chat{
    text-align: center;
    width: 80%;
    height: 80%;
    margin: auto;
    border: 1px solid black;
    color:white;
    font-size: 1rem;
    position: relative;
    background-color: #001d3d;
    overflow-y:scroll;
    font-family: Josefin Sans;
    
}

.cont-received{
    display: flex;
    align-items: center;
}

.cont-sent{
    display: flex;
    align-items: center;
    justify-content: right;
}


.img{
    border-radius: 50%;
    width: 40px;
    margin: 10px;
}


.cont{
    display: flex;
    align-items: center;
}

.received-text{
    background-color: #97acbe;
    padding: 6px;
    border-radius: 50px;
    color: black;
}
.sent-text{
    background-color: #1e8df5;
    padding: 6px;
    border-radius: 50px;
}


.container{
    align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.signout-btn-cont{
    background-color: rgb(43, 43, 43);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 80%;
    margin: auto;


}

.chat-cont{
  width: 100%;
  height: 100%;
  text-align: center;
}