.send-message{
    position: absolute; 
    bottom: 0; 
    width: 100%;
    display: flex;
    border: 1px solid black;
    background-color: black;
    padding: 5px;
}

input{
    background-color: transparent;
    border: 1px solid black;
    border-style: none;
    height: 25px;
    width: 100%;
    font-size: 1.2rem;
}

input:focus{
    outline: none;
}

.input-style{
    padding: 10px;
    border-radius: 50px;
    background-color: grey;
    width: 100%;
}